/*Estilo CSS para a View de Animais
*
*@author Maria Andressa de Paula Silva
*@version 1.0
*/

/* ========================Layout============================== */

/* ====================================================== */
/*Altera o background*/
body{
	background: url(/img/cao.png);
	background-attachment: fixed;
	background-size: 270%;
}

/* -- Recursos -- */
.conteudo-geral{
	padding-top: 110px;
	min-height: 75.8%;
	position: relative;
	margin-bottom: 30px;
}

.conteudo-geral #conteudo{
	background: white;
	background: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 25px;
	margin-right: 50px;
	margin-left: 50px;
	/*overflow-x: visible;*/
}
/* ====================================================== */

/* ====================================================== */
/*Cor, Hover e Fonte dos botões*/

/*Cor*/
#btn-novo-animal, #btn-buscar-animal, #btn-cadastrar-animal, #btn-atualizar-animal{
	background: #4A47B2;
	border-color: #4A47B2;
}

/*Hover - quando coloca mouse em cima*/
#btn-novo-animal:hover, #btn-buscar-animal:hover, #btn-cadastrar-animal:hover,
#btn-atualizar-animal:hover{
	background-color: white;
	color: black;
	text-shadow: none;
}

/*Fonte*/
#btn-buscar-animal, #btn-novo-animal, #btn-cadastrar-animal, #btn-atualizar-animal{
	font-weight: bold;
	font-size: 15px;
}

#btn-historico{
	font-size: 16px;
	color:#4A47B2;
}
#btn-historico:hover{
	font-size: 18px;
	color: #000;
}

/*Titulo*/
#conteudo h3{
	font-size: 30px;
		text-align: center;

}
/* ====================================================== */


/*Centraliza o titulo de cada coluna da tabela*/
.table>thead>tr>th{
	text-align: center;
	font-size: 20px; /*tamanho para fonte no caso de centralizado*/
}

/*Centraliza o conteudo de cada linha*/
.table>tbody>tr>td{
 text-align: center;
 vertical-align: middle;
 font-size: 18px;
}
/* ====================================================== */

/* ====================================================== */
/*Imagem*/

/*Imagem dos animais listados na index*/
.conteudo-geral #conteudo tbody img{
	 width:100%;
	 width:100px;
	 height:80px;
	 object-fit:cover; /* ajusta tamanho da foto no centro */
	 margin:auto;
}
